@charset "UTF-8";
/*первый паршал*/
:root {
  /* fonts */
  --main-font: Roboto;
  --font-size: 14px;
  --font-style: normal;
  /* text colors */
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196F3;
  --hero-text-color: #FFFFFF;
  --button-text-color: #FFFFFF;
  --footer-text-color: #FFFFFF;
  /* bg-colors */
  --main-bg-color: #FFFFFF;
  --header-bg-color: #FFFFFF;
  --footer-bg-color: #2F303A;
  --button-backgound-color: #F5F4FA;
  --section-background-color: #F5F4FA;
  --border-color: #AFB1B8;
  --client-logo-color: #AFB1B8;
  --soc-icon-color: #AFB1B8;
  /* Animation */
  --anmation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Roboto, sens-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-style: normal;
}

/*второй паршал*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

/*девятый паршал*/
.portfolio, .clients, .team, .activities, .features {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* шестой паршал*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*четвертый паршал*/
.btn {
  margin-top: 30px;
  padding: 10px 32px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--button-text-color);
  background-color: var(--accent-color);
  font-family: Roboto, sens-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: background-color var(--anmation), -webkit-box-shadow var(--anmation);
  transition: background-color var(--anmation), -webkit-box-shadow var(--anmation);
  transition: background-color var(--anmation), box-shadow var(--anmation);
  transition: background-color var(--anmation), box-shadow var(--anmation), -webkit-box-shadow var(--anmation);
}

.footer-subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  font-family: Roboto, sens-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  border-radius: 4px;
  border: none;
  -webkit-transition: backgraund-color var(--anmation);
  transition: backgraund-color var(--anmation);
}

.btn:hover,
.btn:focus {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-bg-color);
  -webkit-transition: backgraund-color var(--anmation);
  transition: backgraund-color var(--anmation);
}

.button-close:hover {
  fill: var(--accent-color);
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}

.filter__button {
  margin-right: 8px;
  display: inline-block;
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  background-color: var(--button-backgound-color);
  border-radius: 4px;
  color: var(--secondary-text-color);
  font-family: Roboto, sens-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  -webkit-transition: color var(--anmation), background-color var(--anmation), -webkit-box-shadow var(--anmation);
  transition: color var(--anmation), background-color var(--anmation), -webkit-box-shadow var(--anmation);
  transition: color var(--anmation), background-color var(--anmation), box-shadow var(--anmation);
  transition: color var(--anmation), background-color var(--anmation), box-shadow var(--anmation), -webkit-box-shadow var(--anmation);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*третий паршал*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*пятый паршал*/
.logo {
  margin-left: 0;
  color: var(--accent-color);
  font-family: Raleway, sens-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
}

.studio {
  color: var(--secondary-text-color);
  font-family: Raleway, sens-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
}

.footer-studio {
  color: var(--footer-text-color);
}

/*ceдьмой паршал*/
.section__title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*восьмой паршал*/
.team__soclink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  margin-bottom: 30px;
  width: 44px;
  height: 44px;
  justify-content: center;
  border: 0;
  border-radius: 50%;
  margin-right: 10px;
  color: var(--soc-icon-color);
  -webkit-transition: color var(--anmation), background-color var(--anmation);
  transition: color var(--anmation), background-color var(--anmation);
}

.team__soclink:hover,
.team__soclink:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.team__icon {
  fill: currentColor;
}

.footer-soclink-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--main-bg-color);
  border-radius: 50%;
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--anmation);
  transition: background-color var(--anmation);
}

.footer-soclink:not(:last-child) {
  margin-right: 10px;
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: var(--accent-color);
}

.soclink {
  color: currentColor;
}

/*девятый паршал*/
.work__overlay {
  position: relative;
  overflow: hidden;
}

/*одинадцатый паршал*/
.header {
  background-color: var(--header-bg-color);
  border-bottom: 1px solid #EEEEEE;
}

/* site nav */
.header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  line-height: 1.14;
  font-weight: 500;
  -webkit-transition: color var(--anmation);
  transition: color var(--anmation);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav__item .current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  bottom: -1px;
  background-color: var(--accent-color);
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth__item + .auth__item {
  margin-left: 50px;
}

.auth__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--main-text-color);
  line-height: 1.14;
  font-weight: 500;
  -webkit-transition: color var(--anmation);
  transition: color var(--anmation);
}

.auth__link:hover {
  color: var(--accent-color);
}

.auth__icon-mail,
.auth__icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

/*пятнадцатый паршал*/
.hero {
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2F303A;
  text-align: center;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto;
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
}

/*двенадцатій паршал*/
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__list .item::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  height: 120px;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--button-backgound-color);
  border-radius: 4px;
}

.features__list .item:nth-child(4n) {
  margin-right: 0;
}

.icon-antenna::before {
  background-image: url("../images/icons.svg/antenna 1.svg");
}

.icon-clock::before {
  background-image: url("../images/icons.svg/clock 1.svg");
}

.icon-diagram::before {
  background-image: url("../images/icons.svg/diagram 1.svg");
}

.icon-astronaut::before {
  background-image: url("../images/icons.svg/astronaut 1.svg");
}

.features__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  color: var(--main-text-color);
  line-height: 1.7;
  width: 270px;
}

/*тринадцатый паршал*/
.activities {
  padding-top: 0;
}

.activities__item {
  position: relative;
}

.name-card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-text-color);
}

.activities__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: unset;
          padding-inline-start: unset;
}

.activities__item {
  width: 370px;
  margin-right: 30px;
}

.activities__item:nth-child(3n) {
  margin-right: 0;
}

/*тринадцатый паршал*/
.team {
  background-color: var(--section-background-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: unset;
          padding-inline-start: unset;
}

.team__list .team__item {
  width: 270px;
  margin-right: 30px;
  text-align: center;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__list .team__item:nth-child(4n) {
  margin-right: 0;
}

.team__title {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__position {
  margin-top: 10px;
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.18;
}

.team__soclinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*четырнадцатый паршал*/
.clients {
  background-color: var(--main-bg-color);
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__item:nth-child(6) {
  margin-right: 0;
}

.client__item {
  margin-right: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  cursor: pointer;
  color: var(--client-logo-color);
  background-color: var(--main-bg-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  -webkit-transition: color var(--anmation), border-color var(--anmation);
  transition: color var(--anmation), border-color var(--anmation);
}

.client__link:hover,
.client__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/*шестнадцатый паршал*/
.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-padding-start: unset;
          padding-inline-start: unset;
}

.work__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.18;
}

.work__item:nth-child(3n) {
  margin-right: 0;
}

.work__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.work__card {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--anmation);
  transition: -webkit-box-shadow var(--anmation);
  transition: box-shadow var(--anmation);
  transition: box-shadow var(--anmation), -webkit-box-shadow var(--anmation);
}

.work__card:hover,
.work__card:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work__overlay {
  position: relative;
  overflow: hidden;
}

.work__desc {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  padding: 63px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--anmation);
  transition: -webkit-transform var(--anmation);
  transition: transform var(--anmation);
  transition: transform var(--anmation), -webkit-transform var(--anmation);
}

.work__item:hover .work__desc {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.work__desc {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
}

.work__title {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.work__list-title {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.work__list-item {
  margin-top: 4px;
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/*семнадцатый паршал*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--main-bg-color);
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: translate 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: translate 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-form {
  display: block;
}

.modal-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-lable:nth-child(4n) {
  margin-bottom: 0;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  min-height: 40px;
  margin-top: 4px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--anmation);
  transition: border-color var(--anmation);
  padding-left: 42px;
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus ~ .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  top: 15px;
  left: 12px;
  fill: var(--secondary-text-color);
}

.modal-textarea {
  width: 100%;
  min-height: 120px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: color var(--anmation), border-color var(--anmation);
  transition: color var(--anmation), border-color var(--anmation);
}

.modal-textarea:focus {
  border-color: var(--accent-color);
}

.modal-checkbox {
  margin-left: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.check-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 125px;
  left: 45px;
  border-radius: 4px;
  border: 2px solid var(--secondary-text-color);
  width: 16px;
  height: 15px;
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: none;
  width: 16px;
  height: 15px;
}

.check-link {
  margin-left: 5px;
}

.check-title {
  display: inline-block;
}/*# sourceMappingURL=main.css.map */