/*пятый паршал*/
.logo {
    margin-left: 0;
    
    color: var(--accent-color);
    font-family: Raleway, sens-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;    
    
}
.studio {
    color: var(--secondary-text-color);
    font-family: Raleway, sens-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    
}

.footer-studio {
    color: var(--footer-text-color);
    
}